body {
    color: #21478d;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://fondosmil.co/fondo/97884.jpg");
}

.text-welcome{
    color:#f5f5f5;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
}

.color-input{
    color : #fff !important;
}


.container{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    min-width: 100vw;
}

.nasa-card-container{
    border-radius: 20px;
    box-shadow: 1px 1px 7px 2px #d3d6d999;
    transition: box-shadow 0.5s ease;
}
.nasa-card-container:hover img{
    transform: scale(1.1);
}
.nasa-card-container:hover{
    box-shadow: 2px 2px 10px 3px #d3d6d999;
}

.nasa-card {
    border-radius: 20px;
    overflow: hidden;
    height: 460px;
    border: 0 !important;
    background-color: #04070d;
    color: #ddd;
}

.card-body-custom{
    padding: 1rem 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 210px;
}


.nasa-card .content-img {
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
}

.nasa-card img{
    transition: transform 0.5s ease;
    min-height: 250px;
    max-height: 250px;
    overflow: hidden;
}

.nasa-card p{
height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    min-width: 1000px;
    background: rgb(255 255 255 / 70%);
    padding: 20px;
    margin-bottom: 60px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    min-width: 100%;
}

.table-title h2 {
    margin: 8px 0 0;
    font-size: 22px;
}

.search-box {
    position: relative;
    float: right;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

.search-box input:focus {
    border-color: #3FBAE4;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 10px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255 255 255 / 50%);
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
    background-color: red;
    width: 100%;
    height: 100%;
}

table td:nth-child(2) img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    min-width: 200px;
    min-height: 200px;
    border-radius:5px;
}

table td:nth-child(5) {
    width: 150px;
}
table td:nth-child(6) {
    max-width: 100px;
   text-align: center;
}


table.table td i {
    font-size: 19px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}


